.container {
	width: 90%;
	margin: 0 auto;
	text-align: center;
}

.container .list {
	margin: 10px;
}

input {
	width: 300px;
}
.table{
	text-align: left;
}
table {
	margin: 0 auto;
}
tr {
	text-align: left;
}